[user]
  name         = Carter S. Levinson
  email        = cslevo@posteo.net
[core]
  editor       = nvim
  pager        = delta
  excludesfile = ~/.config/git/ignore
[interative]
  diffFilter   = delta --color-only
[add.interactive]
  useBuiltin   = false
[delta]
  navigate     = true
  light        = false
[merge]
  tool         = fugitive
[mergetool]
  prompt       = false
[diff]
  tool         = vimdiff
[difftool]
  prompt       = true
[mergetool "fugitive"]
  cmd          = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[difftool "nvimdiff"]
  cmd          = nvim -d \"$LOCAL\" \"$REMOTE\"
[alias]
  # git-status
  s            = status -sb
  st           = status

  # git-add
  a            = add
  ap           = app -p

  # git-commit
  c            = commit --verbose
  cc           = commit --amend --verbose
  cm           = commit -m
  cam          = commit -a -m

  # git-checkout
  co           = checkout
  cob          = checkout -b

  # gitbranch
  b            = branch
  br           = branch -r

  # git-diff
  d            = diff
  ds           = diff --stat
  dc           = diff --cached
  # git-difftool
  dt           = diftool

  # git-push
  p            = push
  po           = push origin

  # git-pull
  pp           = pull
  ppo          = pull origin

  # git-merge
  m            = merge
  # git-mergetool
  mt           = mergetool

  # git-fetch
  f            = fetch

  # git-remote
  r            = remote
  rv           = remote -v
  rs           = remote show

  # git-tag
  td           = tag --delete
  tdr          = tag --delete origin

  # git-log
  l            = log
  ll           = log --oneline
  lll          = log --oneline --decorate --graph

  # work on these misc aliases for now
  # search type
  last         = log -1 HEAD --stat
  search       = '!git rev-list --all | xargs git grep -F'
  # draw out the DAG
  draw         = log --oneline --decorate --graph --all
  graph        = log --all --decorate --oneline --graph
  # roll all of your commit changes back into the local unstaged area
  undo         = reset HEAD~` --mixed
  unstage      = reset --soft HEAD^
