set editing-mode vi

set keymap vi-command
p : i !!*\r
j: history-search-forward
k: history-search-backward
# Up arrow
"\e[A": history-search-backward
# Down arrow
"\e[B": history-search-forward

set keymap vi-insert
TAB: menu-complete
# <S-TAB>
"\e[Z": menu-complete-backward
# Up arrow
"\e[A": history-search-backward
# down arrow
"\e[B": history-search-forward
#<C-Left> -> move back 1 word
"\e[1;5D": backward-word
#<C-Right> -> move forward 1 word
"\e[1;5C": forward-word
# Edit options before rerunning previous command,
# eg: ls a b c -> ls -al a b c
"\C-o": "\e-0eli "

set show-mode-in-prompt on
set vi-ins-mode-string [+]
set vi-cmd-mode-string [N]

# check for virtual console to change cursor escapes
$if term=linux
  set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
  set vi-ins-mode-string \1\e[5 q\2
  set vi-cmd-mode-string \1\e[2 q\2
$endif

set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on
set colored-completion-prefix on

set colored-stats on
set visible-stats on
set mark-directories on
set match-hidden-files on
set mark-symlinked-directories on
